[2018-05-08 12:56] paoloantinori opened #4 "Support for different image versions?"
While trying the latest productized images, I have noticed they do not share a common version. Probably due to rebuild or errors, they have different specific versions.

This is incompatible with our current script that assumes everything uses the same one.

Problem is easy to solve, externalizing each one of them and eventually defaulting to a main version.
Do we want to do this or do we have bet

[2018-05-09 12:31] paoloantinori opened #5 "ImageStreamTag misleading"
ImageStreamTag `name` property is currently set to a specific version.

I'm in the process to change that since I'm moving to the productized image (using a different docker registry and version), but I can't modify the tag "name" otherwise my resources will no longer able to point to that tag.

I've ended up in the stuation where I have a tag name called `v1.1.0` populated by an image called `reg

[2018-05-17 19:39] rhuss opened #19 "1.3.10 contains wrong defult for MAX_INTEGRATION_USER for OCP script"
https://github.com/syndesisio/fuse-ignite-install/blob/11a30655835723ebc28f51be55c35c1dd8558607/resources/fuse-ignite-ocp.yml#L138

This should be 0. Furthermore this parameter is not used at all in the OCP script, but hardcoded to 0. Use #17 for fixing this.

[2018-05-17 19:39] rhuss commented on #19
@paoloantinori fyi

[2018-05-17 19:42] rhuss opened #20 "1.3.10 references the wrong docker registry in the imagestreams"
@paoloantinori https://github.com/syndesisio/fuse-ignite-install/blob/f8ff386855a490ed6cb4ab95752674646e010582/resources/fuse-ignite-image-streams.yml#L47 is the internal registry, isn't it ?

[2018-05-18 06:26] paoloantinori commented on #20
Hi Roland, that's the one in use for current CR phase. In not expecting
that to be the one to be used for public GA, but test and validation for is
are happening on that one.

There is an externalised parameter for release.sh to provide it at release
time

On 17 May 2018 21:42, "Roland Huß" <notifications@github.com> wrote:

@paoloantinori <https://github.com/paoloantinori>
https://github.com/synd

[2018-05-18 15:44] rhuss commented on #20
@paoloantinori ok, let me create a 1.3.10-CR tag with refering to the internal registry and repository.

Wdyt about moving on to 1.4.0 for GA ?

[2018-05-18 16:37] dsimansk commented on #20
It might be problematic as we need to update the reference in documentatio,
that is pointing to the scripts, currently 1.3. I'm not sure if there is
enough time to rollout doc update also. Anyway we have 1.3 in maven version
also.

On Fri, May 18, 2018, 17:44 Roland Huß <notifications@github.com> wrote:

[2018-05-22 07:36] dsimansk opened #23 "Consider use of floating tag reference in ImageStream"
We currently have specific reference to patch(build) level of Docker image from RH registry. Therefor when new image is published due to update in underlayers, e.g. RHEL or OpenJDK we can't point users to do `oc import-image fuse-ignite-server:1.3`. But the whole image Docker image reference needs to be replaced. Probably the most smooth way is something like `oc replace -f updated-is.yml`.

There

[2018-05-22 14:37] rhuss commented on #23
Sounds good to me, but we should test this somehow. IIUR the floating tag is automatically created by the brew build, right ?

[2018-05-22 14:45] dsimansk commented on #23
Yes, and updated upon release to public registry.

[2018-05-31 11:04] dsimansk commented on #23
@rhuss @paoloantinori hi guys, I'd like to sort this one out. There's another CVE update coming. Therefor we will have to finally update the image tags. Imho switching to `1.0` is much better alternartive. As there's no further maintenance needed in case of CVEs/image updates.

[2018-08-01 15:28] odra opened #31 "ansible role/playbook"
Hello,
Is there an ansible role and playbook  to run the installation instead of running a bash script? If not, is there some kind of interest in one?

[2018-08-06 06:48] rhuss opened #32 "Generate productised Operator"
The productised operator also includes the productised template. Actually it should be build from within productisation build, but it would be helpful to provide productisation some assistance to showcase the build here, too.

Related to https://github.com/syndesisio/syndesis/issues/2888

[2018-08-06 06:49] rhuss opened #33 "Update ocp_install and oso_install for Operator usage"
This is more or less a copy from 'syndesis install' with some minor tweak.

Related to https://github.com/syndesisio/syndesis/issues/2888

[2018-08-06 07:32] paoloantinori commented on #31
Hi, no, we currently don't have one and it might migh be interesting evaluating one!

[2018-08-06 08:49] rhuss commented on #31
Thanks for the idea, but please hold on for a minute.

I'm currently changing the script which becomes only a thin wrapper is only a thin wrapper for installing the operator, so actually its more or less only about applying a DC to install the operator and the CRD itself. In the next release this will even change more when we jump to the Operator Lifecycle Manager for managing the CRD and operator

[2018-08-06 10:55] odra commented on #31
Makes sense - using an operator does remove the need of an ansible playbook/role.

Do you think it makes sense to run an ansible script from the operator? I was taking a look ate the bash script and it looks to be simple enough to be "scripted" into the operator.

Another alternative would be to make this ansible script an apb and then provision a service instance from the operator.

[2018-08-23 10:33] rhuss opened #39 "Auto extract target image stream tag from config"
Currently the target imagestream tag (e.g. 1.4) is hardcoded in import_images.pl. However this information is also available in fuse_online_config.sh as the first two digets of git_fuse_online_install.

The import script should evaluate this number and use it for the import.

[2018-08-29 08:36] avano opened #42 "Issues with install_ocp.sh script"
I'm trying the install_ocp.sh script from master against my minishift:

1. unable to call install_ocp without parameters:

[code]

you can workaround that with specifying some parameter, for example "-f"

2. script is unable to create a new custom resource:

[code]

3. when there are no image streams, the script will create them in current project, as it is checking them in the current project:
ht

[2018-08-29 09:55] avano commented on #42
@heiko-braun no objections and yes 1.4.6 is CR1

[2018-08-29 10:13] nicolaferraro commented on #42
@avano while I'm trying to reproduce, can you clarify point 3: what do you mean by "the operator expects them to be in fuse-ignite namespace"?

Are you testing everything on a local minishift?

[2018-08-29 13:52] #4 closed

[2018-08-29 13:52] #5 closed

[2018-08-29 13:52] #19 closed

[2018-08-29 13:52] #20 closed

[2018-08-29 13:54] #32 closed

[2018-09-02 10:36] rhuss commented on #33
Have to verify, but I _think_ this is already done. will do next week.

[2018-09-11 12:33] rhuss commented on #33
This is finished (there is no oso_install btw) and already tagged in 1.4.8

[2018-09-11 12:33] #33 closed

[2018-09-12 07:59] rhuss opened #48 "Update support in install_ocp.sh"
For updating on Fuse Online on OCP one has to update the Operator Image. This can be done in two ways:

* Either move the imagestream tag used in the operator's DC to the new version of the operator. Then an image trigger in OpenShift will automatically redeploy the operator in the new version which then, when started will start the update pod. This method is suitable for patch version updates (e.

[2018-09-12 08:29] rhuss commented on #48
Using a dedicated "update_ocp.sh" could be also an option.

[2018-09-27 19:10] benemon opened #49 "oc version detection fails"
Using branch 1.4.8, and the official Fuse Online install docs at

https://access.redhat.com/documentation/en-us/red_hat_fuse/7.1/html-single/integrating_applications_with_fuse_online/#installing-on-ocp

The install_ocp script does:

`oc version | grep oc | tr -d oc\ v | cut -f1 -d "+"`

to do some version checking.

This renders the output:

[code]

From the basic output:
[code]

The install scrip

[2018-09-27 19:37] benemon commented on #49
I've just realised it's because my Server identifier has the characters 'oc' in the URL. Ouch.

[2018-09-27 20:14] #49 closed

[2018-09-28 09:47] #48 closed

[2018-09-28 16:37] rhuss commented on #48
@heiko-braun @tplevko  it's implemented but needs still good QA testing

[2018-10-15 09:51] #39 closed

[2018-10-25 16:01] heiko-braun commented on #23
@rhuss I think this can be closed?

[2018-10-25 16:21] rhuss commented on #23
Actually, I think its still a very valid idea when doing respins because of base image fixes (like for CVEs in Java). However, I don't know whether productisation maintains a floating tag on the latest production builds (like for 1.1 pointing to 1.1_5 when 1.1_5 is the latest build number).

But I think our current solution with having a floating images-stream tag (instead of a floating docker ima

[2018-10-25 16:21] #23 closed

[2018-10-30 10:08] tplevko opened #53 "CVE updates should be reflected in the image streams definitions"
The installation following the "Procedure for installing or upgrading Fuse Online on OCP" [1] installs old versions (7.1.0 GA) instead of updated images including CVE updates.

[1] https://access.redhat.com/documentation/en-us/red_hat_fuse/7.1/html-single/integrating_applications_with_fuse_online/#proc-install-on-ocp

[2018-11-03 17:16] jcordes73 opened #54 "Configuration of image repository"
Right now references to image repository are "hard-coded". It would be good if this is configurable somehow so I can use Nexus, Artifactory, Quay, Satellite etc. as an image repository.

[2018-11-03 21:29] zregvart commented on #54
@jcordes73 what does _image repository_ mean to you? Maven repository settings, Docker images during installation or OpenShift image streams at runtime?

[2018-11-20 12:10] tplevko commented on #53
OK, just clarified the process with colleague. Seems like this is not really an issue, as the image pulled from the repository will be the one with the highest tag. Closing this.

[2018-11-20 12:10] #53 closed

[2018-11-20 12:13] tplevko opened #57 "Release.sh script doesn't update the update_ocp script."
It seems like the release.sh script doesn't really take the update_ocp.sh script into account. This causes that the update_ocp.sh script is not really usable for upgrading on OCP.

[2018-11-21 09:29] tplevko opened #60 "import_images.pl still contains the community version of oauth-proxy"
Just noticed, that the import_images.pl script still contains the docker.io/openshift/oauth-proxy:v1.1.0

I suppose that as this should be changed to registry.access.redhat.com/openshift3/oauth-proxy:v3.10.45

[2018-11-21 11:54] heiko-braun commented on #60
//cc @rhuss

[2018-11-21 11:54] heiko-braun commented on #60
good catch @tplevko

[2018-11-21 13:45] heiko-braun opened #61 "Online registration app misses parameter SAR_PROJECT"
Apparently the provisioning app doesn't use the SAR_PROJECT parameter yet:

[code]

It has been added in 7.2.

See also https://github.com/syndesisio/syndesis/issues/3687

[2018-11-21 13:47] heiko-braun commented on #61
@rhuss I guess this code requires changes to support SAR_PARAMETER:

https://github.com/gashcrumb/online-registration/blob/f2af131a82078f8b828cf5143bcea9a1138d4594/app/models/master_plans/fuse_ignite.rb#L187

[2018-11-21 13:47] rhuss commented on #61
that might be a point, but as we actually extract the template from the operator image (which has that parameter and also the upgrade persistent volume), removing this part is a manual step after release.sh is called ? If this is a permanent thing we should add this kind of removal as part of release.sh so that it gets removed automatically.

Should I add this to the script (i.e. this post-manglin

[2018-11-21 13:56] heiko-braun commented on #61
Nobody said that. Why do you assume we cannot change it? The motivation for creating the ticket was to actually make the changes ...

[2018-11-21 13:57] heiko-braun commented on #61
yes, these changes should be in place

[2018-11-21 14:15] heiko-braun commented on #61
I've created a PR, but need @rhuss to verify the changes:

https://github.com/openshift/online-registration/pull/1409

[2018-11-22 16:30] #61 closed

[2018-11-22 21:58] rhuss commented on #57
This has been fixed in 1.5.3

[2018-11-22 21:58] #57 closed

[2018-11-23 18:28] rhuss opened #63 "Make upgrade_ocp.sh self contained"
so that it can be directly downloaded. Up to now, it requires fuse_online_config.sh to source, but it's much more user-friendly to have a single file.

[2018-11-26 14:14] gashcrumb opened #64 "releash.sh fails on Fedora"
I still have my Mac kicking around so not a blocker, but running `release.sh` didn't work on my newly set up laptop:

[code]
Is that path supposed to be relative?

[2018-11-26 14:21] gashcrumb commented on #64
Ah, maybe I need to check if bind mount works on this machine, that's probably the problem.

[2018-11-26 18:34] heiko-braun commented on #64
//cc @rhuss

[2018-11-27 14:17] rhuss commented on #64
Yes. Typically I do a fresh checkout in /tmp and run the script from there (on upstream). Just don't use --git-push and you are fine (and can delete the whole directory aftewards)

[2018-11-28 08:42] #60 closed

[2018-12-13 16:10] heiko-braun opened #66 "bash update_ocp.sh --version not working"
@tmielke commented on [Thu Dec 13 2018](https://github.com/syndesisio/syndesis/issues/4227)

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Following the [10.6. Upgrade Fuse Online on OCP](https://access.redhat.com/documentation/en-us

[2018-12-13 16:11] heiko-braun commented on #66
@rhuss Looks like a quick fix, is it?

[2018-12-13 17:03] tmielke commented on #66
I am not sure where the missing file is supposed to come from as per instructions I only downloaded
wget https://raw.githubusercontent.com/syndesisio/fuse-online-install/1.5/update_ocp.sh

[2018-12-13 17:20] rhuss commented on #66
Actually, this is misunderstanding between me and docs. Actually my initial input was to download the full release from https://github.com/syndesisio/fuse-online-install/archive/1.5.tar.gz, uncompress and run update_ocp.sh from there (as it includes the version).

My suggestion was to adopt the release process to embed the data in the `fuse_online_config.sh` file directly in update_ocp.sh so that

[2018-12-13 17:20] rhuss commented on #66
The issue that we opened for this is #63

[2018-12-14 07:21] rhuss commented on #66
@TovaCohen is working on a documentation update, so lets close this issue and fix it with #63

[2018-12-14 07:21] #66 closed

[2019-02-21 17:03] heiko-braun commented on #63
@rhuss Can you outline what you had in mind?

[2019-02-28 16:21] heiko-braun commented on #54
@jcordes73 Can you explain what you have in mind here?

[2019-02-28 16:22] heiko-braun commented on #63
@rhuss Can you elaborate?

[2019-03-01 10:06] rhuss commented on #63
At the moment you have to checkout the git repository locally (so you need to have git), as the script sources another script in the same directory.

It would be nicer to use just an URL to download a single script which then can get executed locally.

[2019-03-01 13:12] heiko-braun opened #68 "Add installation procedures for Camel-K to `install_ocp.sh`"
As a user I want to be able to install Camel-K along side Fuse Online to be able to leverage it from Fuse Online (separate step)

[2019-03-01 13:15] heiko-braun commented on #68
@syndesisio/qe  FYI

[2019-03-02 08:19] rhuss commented on #68
Fixed with https://github.com/syndesisio/fuse-online-install/pull/69 being merged.

[2019-03-02 08:19] #68 closed

[2019-03-28 15:19] gashcrumb commented on #64
BTW #73 fixes this...

[2019-04-03 13:19] avano opened #81 "Operator deployment from 1.6.x fails due to missing changes in resources"
[code]

[code]

the resources for the operator need to be updated to latest changes

cc @heiko-braun

[2019-04-03 17:01] heiko-braun commented on #81
Can you expand on this ? What do you think is missing?

@lgarciaaco @astefanutti Can you help with this?

[2019-04-03 17:01] heiko-braun commented on #81
@avano WHat was your starting point? Plain 1.6.x or a specific tag?

[2019-04-03 17:07] heiko-braun commented on #81
@lgarciaaco @astefanutti @nicolaferraro Can you help with this?

[2019-04-03 17:08] astefanutti commented on #81
The operator deployment template misses:

https://github.com/syndesisio/syndesis/blob/9dbdd0eda0efd12b909636843601ef90b7bd4ec7/install/operator/deploy/operator.yaml#L31-L34

[2019-04-03 17:15] heiko-braun commented on #81
thanks @astefanutti . I wonder how this file from syndesis master makes it to `fuse-online-install/resources`. Is contained within the operator image? Do we keep a redundant copy in fuse-online-install? @nicolaferraro Do you know this?

[2019-04-03 17:36] nicolaferraro commented on #81
@heiko-braun I think that what's extracted from the operator image is the template containing syndesis resources, but not the operator.

I think the operator file is to be updated manually here... Roles also may be not aligned to the required version.

[2019-04-03 17:48] avano commented on #81
@heiko-braun just for the record, it was from 1.6.x directly.

afaik what the operator misses is:
1) two new env vars for the operator dc (linked by Antonin)
2) as mentioned by Nicola, some roles changed.

here is the diff between 1.5.9 and 1.6.7 of syndesis/install/operator/deploy/syndesis-operator.yml capturing both points: https://gist.github.com/avano/a5fc58454922add4bfd9f9d772b2de1d

[2019-04-03 18:12] heiko-braun commented on #81
@nicolaferraro Thanks for the clarification. Could you provide a PR with the necessary changes?

[2019-04-03 18:31] nicolaferraro commented on #81
Yes, of course.

[2019-04-04 09:41] #81 closed

[2019-04-04 10:05] heiko-braun opened #83 "Don't request credentials when pulling form brew"
We only needs creds when pulling from registry.redhat.io. The prompt that asks for user/pass and the whole pull secret setup should be skipped when pulling from brew (see registry attribute in cfg)

[2019-04-04 12:22] avano opened #85 "1.6.x branch misses image stream for postgres exporter"
DB deployment doesn't start at the moment:

[code]

[code]

[code]

[2019-04-04 12:23] avano commented on #85
cc @heiko-braun

[2019-04-04 12:46] heiko-braun commented on #85
@avano rioght in time :) I see the same

[2019-04-04 15:27] heiko-braun opened #86 "Update scripts to install the productised camel-k version"
Are we referencing the correct camel-k version?

See https://github.com/syndesisio/fuse-online-install/blob/master/install_ocp.sh#L529

Or more generally speaking: Using these scripts (`install_ocp.sh --camel-k`), does it install everyhing we need to run camel-k underneath fuse online?

[2019-04-04 16:43] nicolaferraro commented on #86
Don't know about the version, @valdar can help on that. AFAIK Camel K is now [built in the pipeline](https://github.com/jboss-fuse/fuse-jenkins-pipelines/blob/71bdfd738cac3784abadb57c5959d88a874cc029/fuse/7.3/Jenkinsfile#L700) and we should update that version field to whatever is built there.

There is an additional step to do to enable camel k that is:
- adding/changing the value of `controllers

[2019-04-04 17:00] #85 closed

[2019-04-04 17:38] heiko-braun opened #89 "templates still contain references to old registry"
See https://github.com/syndesisio/fuse-online-install/blob/master/resources/fuse-online-image-streams.yml#L69 and other cases

[2019-04-04 17:49] heiko-braun opened #90 "[clarification] image streams and tags don't line up"
Why is it that the tags in image streams [1] don't correspond to the actual image versions used in [2] and [3] ?

[1] https://github.com/syndesisio/fuse-online-install/blob/master/resources/fuse-online-image-streams.yml#L88
[2] https://github.com/syndesisio/fuse-online-install/blob/master/resources/fuse-online-image-streams.yml#L85
[3] https://github.com/syndesisio/fuse-online-install/blob/master/

[2019-04-04 17:59] heiko-braun commented on #86
In CR1 it was this one: `fuse7/fuse-camel-k:fuse-7.3-rhel-7-containers-candidate-81569-20190321124048` (See https://issues.jboss.org/browse/ENTESB-10310)

[2019-04-04 18:01] heiko-braun commented on #86
It's even worse: https://github.com/syndesisio/fuse-online-install/blob/master/install_ocp.sh#L602

It seems to pull community bits in fuse-online-install.

@valdar @nicolaferraro Can you update the scripts to work with prod versions?

[2019-04-04 21:47] valdar commented on #86
There are others requirements:

- all the maven artefacts must be reachable to camel-k so probably `--camel-k-options "--repository https://$GA_REPO"` should be used.
- Camel syndesis version catalog must be installed in the cluster, it is published as part of `install` of `integration/runtime-camelk` like:
  - `mvn org.apache.maven.plugins:maven-dependency-plugin:copy -Dartifact=io.syndesis.integ

[2019-04-05 08:28] rhuss commented on #90
No particular reason i guess, except that if you can change the image stream tag you should be careful during updates. However, the update process should cover this image stream change.

I would prefer a floating tag on the major version like "2" or "3" when referencing external images so that the update is only needed for major upgrades.

[2019-04-05 12:49] valdar commented on #86
@heiko-braun We had a chat with @orpiske and @djcoleman, asked to add `kamel` binary to the productized image so we can use that one, without the need of relaying to the upstream version. We had reviewed the image build script that now should properly generate and include the right version of the catalog sparing the need of installing it from maven (i.e. see the second item on my last comment).

O

[2019-04-05 13:37] heiko-braun commented on #86
Great, thanks for following up on this. If I understand you correctly, with those changes in place, both the `kamel` binary and the catalog will be delivered by the prod team? How to we get access to those artefacts?

[2019-04-05 13:43] valdar commented on #86
That is the expectation. We should grab the image from the registry and use the `kamel` binary from there.

[2019-04-05 13:54] heiko-braun commented on #86
The catalog as well?

[2019-04-05 13:58] valdar commented on #86
The catalog, if we envision everything correctly should be "backed in to the camel-k operator".

[2019-04-10 22:23] valdar commented on #86
@orpiske and @djcoleman given https://github.com/jboss-fuse/camel-k/pull/1 and https://github.com/nicolaferraro/fuse-online-install/commit/5ee832fcfa63d34ee762781278a1f802fe809d5c can you give camel-k image creation another go?

[2019-04-11 06:07] avano opened #96 "create_secret_if_not_present in update_ocp.sh does not work"
update_ocp.sh checks if the syndesis-pull-secret should be created, but the check is checking if the tag is equal to `1.6.x`, it should rather check if the tag starts with `1.6`

https://github.com/syndesisio/fuse-online-install/blob/7f84829fd2cae9138ea2122c16d01035a78bb3d7/update_ocp.sh#L443

https://github.com/syndesisio/fuse-online-install/blob/21e63cc4441d65594b4dce1a32fce579442cab1d/fuse_onli

[2019-04-11 06:36] orpiske commented on #86
@valdar I think we can. Looking at these patches, it seems to me we will need a new PNC build, right @djcoleman?

[2019-04-11 10:09] lgarciaaco commented on #96
@heiko-braun can you review pls? For some reason I can't add merge / ask someone from a review from the PR page

[2019-04-11 11:34] avano opened #98 "update_ocp.sh should apply the changes done in 7.3"
currently the update_ocp.sh just updates the image streams: https://github.com/syndesisio/fuse-online-install/blob/7f84829fd2cae9138ea2122c16d01035a78bb3d7/update_ocp.sh#L433-L461

however there are necessary changes to roles and deployment config of the operator (summary here: https://github.com/syndesisio/fuse-online-install/pull/84/files) + there is new image stream for postgres exporter (https

[2019-04-11 12:36] heiko-braun commented on #98
@lgarciaaco Can you take care of this?

[2019-04-11 12:47] #96 closed

[2019-04-11 13:21] heiko-braun commented on #86
@valdar Cool, are we all set?

[2019-04-11 13:26] valdar commented on #86
@nicolaferraro is doing last tests to check all the flow, but he needs the rebuilt image to actually test all the exact flow of installation...

[2019-04-11 13:29] heiko-braun commented on #86
ok, let's leave it open for the time being until @nicolaferraro confirmed that it's working as expected

[2019-04-11 13:35] nicolaferraro commented on #86
Yeah, this needs to be backported to 1.6.x and I'm still having some issues. It's still using camel `2.23.1` inside..

[2019-04-12 08:55] avano commented on #86
@nicolaferraro

https://github.com/syndesisio/fuse-online-install/blob/038007a1f7b8d6aefa14ef35293b631e83538a03/install_ocp.sh#L639

just a note, this will parse nothing until you have the image pulled locally

@heiko-braun do we want to require the users to have docker installed? Currently when you run `install_ocp.sh`, the script will pull the camel-k docker image to your pc to copy the kamel bi

[2019-04-12 09:00] heiko-braun commented on #86
A dependency on docker should be prevented, but since this is TP I would say it's ok.

[2019-04-12 09:14] nicolaferraro commented on #86
Thanks @avano, will fix.
Agree, we need to simplify this a bit in 7.4.

[2019-04-12 10:18] #98 closed

[2019-04-12 12:38] mmuzikar commented on #86
I used @avano's [fork](https://github.com/avano/fuse-online-install) and were able to get the camel-k operator running, but I got these errors on the camel-k operator:
[code]

[2019-04-12 12:43] avano commented on #86
Martin used the branch `test` from my fork where I cherry-picked the two commits from https://github.com/syndesisio/fuse-online-install/pull/95 to `1.6.9` tag

[2019-04-12 12:47] orpiske commented on #86
...

I don't think we have time for that on this release, @avano. I think we could discuss about that for 7.4, though.

[2019-04-12 12:51] nicolaferraro commented on #86
I see, it seems a mismatch between the go struct and the actual resource, but I don't experience it.
Can you check if the image of the camel-k-operator deployment is the one coming from brew and also provide the output of `oc get integrationplatfrom -o yaml`?

[2019-04-12 12:58] heiko-braun opened #107 "Extract CLI binaries at release time and put them to `jboss-fuse/fuse-operators` for download"
Remove the need to have docker available to install camel k and syndesis

[2019-04-12 12:58] mmuzikar commented on #86
@avano I just noticed I forgot to checkout the Test branch (which is not working) I was able to get the camel-k operator running on master.

@nicolaferraro > oc get integrationplatfrom -o yaml
```error: the server doesn't have a resource type "integrationplatfrom"```

[2019-04-12 13:00] heiko-braun commented on #86
@avano @orpiske @nicolaferraro I have created a separate issue to remove the need to have docker available: https://github.com/syndesisio/fuse-online-install/issues/107 it's scheduled for 7.4

[2019-04-16 14:53] valdar commented on #107
The easiest way to do that is by releasing `kamel` binaries as separate artefacts instead of putting them in the `came-k` operator image.

[2019-04-29 08:18] nicolaferraro commented on #86
I think this can be closed, as issues related to camel k have been solved.

[2019-04-29 08:18] #86 closed

[2019-05-02 08:41] heiko-braun opened #121 "--camel-k flags don't work"
I think there are several issues at play here:

- [x] camel-k images reside under `fuse-tech-preview`, but the scripts refer to `fuse7`
- [x] pulling from `registry.access.redhat.com` as suggested in [1] doesn't work, however pulling form `registry.redhat.io` does, hence this repository should be used (http proxy issues)?
- [x] with all the above fixed, `bash install_ocp.sh --camel-k' installs cam

[2019-05-02 09:54] heiko-braun commented on #121
I think there are several issues at play here:

[ ] camel-k images reside under `fuse-tech-preview`, but the scripts refer to `fuse7`
[ ] pulling from `registry.access.redhat.com` as suggested in [1] doesn't work, however pulling form `registry.redhat.io` does, hence this repository should be used (http proxy issues)?
[ ] with all the above fixed, `bash install_ocp.sh --camel-k' installs camel-k,

[2019-05-02 09:59] heiko-braun commented on #121
@nicolaferraro This might address some of the issues: https://github.com/syndesisio/fuse-online-install/pull/122

[2019-05-02 10:38] avano commented on #121
@heiko-braun also I think there should be `registry.redhat.io` for all images - https://github.com/syndesisio/syndesis/issues/4165 , currently all image streams use `registry.access.redhat.com` - https://github.com/syndesisio/fuse-online-install/blob/1.6.17/resources/fuse-online-image-streams.yml

[2019-05-02 10:40] avano commented on #121
(basically this :-) https://github.com/syndesisio/fuse-online-install/issues/89)

[2019-05-04 09:34] #121 closed

[2019-05-29 11:40] JameelB opened #131 "[clarification] Typo in fuse-online-upgrade image"
The fuse-online-upgrade image is defined as `fuse-ignite-uprade` in the pod definition [1]. This image doesn't exist in the registry and doesn't match the image defined in the template [2].

Should this be defined as `registry.redhat.io/fuse7/fuse-ignite-upgrade:<tag>` instead?

[1] https://github.com/syndesisio/fuse-online-install/blob/master/resources/fuse-online-upgrade.yml#L8
[2] https://githu

[2019-05-29 12:00] heiko-braun commented on #131
@JameelB Does the same issue exist in 1.6.x, i.e. https://github.com/syndesisio/fuse-online-install/tree/1.6.20 ?

[2019-05-29 12:09] JameelB commented on #131
@heiko-braun Yes I believe it's the same for 1.6.x as well (i.e. https://github.com/syndesisio/fuse-online-install/blob/1.6.20/resources/fuse-online-upgrade.yml#L8)

[2019-05-29 12:19] heiko-braun commented on #131
Thanks @JameelB

@avano TYou have been heavily involved in testing this, what are yout thoughts?

[2019-05-29 12:43] avano commented on #131
@heiko-braun I think that is a left-over from the times when we had only the template and not the operator. Currently the docker image for the upgrade is defined in the operator itself - as the operator creates the pod automatically if the deployed fuse online version is different than the operator version.

The upgrade pod template still can be used to upgrade manually in the scenarios when you d

[2019-06-19 12:00] avano opened #134 "[7.3.1] Missing tag to a released version"
last one is 2 days old 1.6.22 https://github.com/syndesisio/fuse-online-install/releases/tag/1.6.22 - we will need a new tag (for example `1.6.23`) with official repositories and `1.6` tag pointing to the `1.6.23`

Duplicate of https://issues.jboss.org/browse/ENTESB-10775

[2019-06-19 12:12] heiko-braun commented on #134
We will move `1.6` when going GA. Otherwise it interferes with  exsiting installaton routines (i.e. 1.6.22 references brew).

[2019-06-20 06:39] avano commented on #134
@heiko-braun my impression was that it was already released since the images are publicly available in the registries. Also quoting Torsten's mail to pm list:

[2019-06-20 14:39] heiko-braun commented on #134
You are absolutely right :) Adding Van, who will take of of this.

[2019-06-20 14:42] heiko-braun commented on #134
The actual work is tracked here: https://issues.jboss.org/browse/ENTESB-10775

[2019-06-20 14:42] #134 closed

[2019-07-12 10:39] heiko-braun opened #143 "[1.7.5] Failed to start operator"
with `bash install_ocp.sh` and some tricks to access brew images, I get this error when the operator starts:

[code]

[2019-07-12 10:41] heiko-braun commented on #143
[code]

[2019-07-12 11:00] nicolaferraro commented on #143
That indicates usually that the role associated with the operator service account has not been installed. Can you see errors in the logs?

I'll try full installation later btw.

[2019-07-12 11:01] nicolaferraro commented on #143
Yes, this should be merged: https://github.com/syndesisio/fuse-online-install/pull/144

[2019-07-12 11:02] nicolaferraro commented on #143
Otherwise it requires more roles than the standard user account and the role is not created

[2019-07-12 11:23] heiko-braun opened #146 "[1.7.5] On first attempt, install_ocp.sh fails"
[code]

[2019-07-12 11:56] heiko-braun commented on #143
That's commit is in 1.7.5

[2019-07-12 14:42] nicolaferraro opened #148 "[1.7.7] Use fuse7-tech-preview instead of fuse-7-tech-preview"
A dash changes everything

[2019-07-12 14:44] nicolaferraro commented on #146
I assume you've done setup and granted privileges to standard user. This seems not to happen in 1.7.7.

[2019-07-12 15:37] heiko-braun commented on #146
My bad, I have been using `--setup` and `install` on two different namespaces.

[2019-07-12 15:37] #146 closed

[2019-07-12 15:37] heiko-braun commented on #143
Work like charm on 1.7.7

[2019-07-12 15:37] #143 closed

[2019-07-12 15:43] heiko-braun commented on #148
Might be somehting  I messed up

[2019-07-12 15:44] heiko-braun commented on #148
https://github.com/syndesisio/fuse-online-install/pull/139/files#diff-297dd78d7c1007508544b4ae7a0ec792L77

[2019-07-15 05:57] avano opened #149 "[1.7.7] Mismatch between imagestreams in fuse-online-install and operator template"
fuse-online-install specifies the image stream for data virt as `fuse-ignite-komodo` and the tag as `1.7`:

https://github.com/syndesisio/fuse-online-install/blob/5032f8374613eeaea0a15e817006efdf2700c8a6/resources/fuse-online-image-streams.yml#L126-L143

however the internal template in the operator expects:

[code]

There are two issues logged for that: https://issues.jboss.org/browse/ENTESB-1103

[2019-07-15 06:12] heiko-braun commented on #149
@nicolaferraro I would suggest we update `fuse-online-install/resources/fuse-online-image-streams.yml`

[2019-07-15 06:13] avano opened #150 "[1.7.7] No switch for datavirt install"
install_ocp.sh doesn't have a switch for installing with data virtualization

[2019-07-15 06:15] heiko-braun commented on #150
@lgarciaaco AFAIK there is two changes needed:

a) increase the replica count for komodo server
b) change a config map (UI?) to enable the DV UI parts

@rkorytkowski Can provide more details.

[2019-07-15 08:33] rkorytkowski commented on #150
@heiko-braun, that's correct, if you want to enable it after installation. For b) in config map in syndesis-ui one needs to change datavirt.enabled to 1.

That said the syndesis install script does have a flag to enable data virtualization during installation (`--datavirt`), see https://github.com/syndesisio/syndesis/blob/master/tools/bin/commands/install#L39

Not sure what's the install_ocp.sh sc

[2019-07-15 08:41] heiko-braun commented on #150
@nicolaferraro I think @zregvart added a feature flag for Komodo to the CRD. Do you think this can drive the changes to enable Komodo?

[2019-07-15 10:05] nicolaferraro commented on #150
Yes, working on it

[2019-07-15 15:20] nicolaferraro commented on #148
Fixed by #151

[2019-07-15 15:20] #148 closed

[2019-07-15 15:20] nicolaferraro commented on #149
Fixed by #151

[2019-07-15 15:20] #149 closed

[2019-07-15 15:20] nicolaferraro commented on #150
Fixed by #151

[2019-07-15 15:20] #150 closed

[2019-07-19 08:28] avano opened #155 "[CamelK] Camel K uses `fuse7` instead of `fuse7-tech-preview` namespace"
Here:

https://github.com/syndesisio/fuse-online-install/blob/ee8d219e2089e6dd06cd5d0d7d136e5c8bc26431/install_ocp.sh#L673

it should use `$repository_tech_preview`

[2019-07-19 11:28] mmuzikar opened #157 "[camel-k] unknown flag --repository"
When installing fuse-online with this command `./install_ocp.sh install --camel-k`, there is an error because kamel changes it's repository option to --maven-repository

[2019-07-19 12:26] mmuzikar opened #159 "[camel-k] Camel-k-operator cannot pull image"
The camel-k operator doesn't respect the option of using insecure registry and the pulling always fails with http: server gave HTTP response to HTTPS client.

[2019-07-22 09:32] heiko-braun commented on #155
Fixed in `1.7.17`

[2019-07-22 10:45] avano opened #161 "Unable to install as basic user on OCP 4.X"
[code]

The underlying error is:

[code]

[2019-07-22 11:19] heiko-braun commented on #161
@avano Which tag did you use?

[2019-07-22 11:28] avano commented on #161
1.7.17

[2019-07-22 12:39] heiko-braun commented on #161
@avano Does it work as expected on 3.11?

[2019-07-22 12:49] avano commented on #161
yes, on 3.11 it seems to work ok

[2019-07-22 12:50] lgarciaaco commented on #161
I will add the permissions independently of `./install_ocp.sh` targeting 3.11 and not 4.x, @heiko-braun ?

[2019-07-22 13:18] nicolaferraro commented on #161
No it's not camel-k related. The standard ocp 3.11 edit clusterrole (from which the permissions have been taken) has ["get" "list" "watch"] on "deployments/rollback", but it has been removed on ocp 4.

We can remove the full entry about deployments/rollback since we don't use it at all. That can be done on master + 1.7.x.

If we don't plan to do another Fuse build, we can also patch fuse-online-in

[2019-07-22 13:21] heiko-braun commented on #161
@nicolaferraro It's not clear if we rebuild. If it can be solved in fuse-online-install, that might be preferrable.

[2019-07-22 13:24] nicolaferraro commented on #161
Ok, let's workaround that on fuse-online-install and I'll fix it completely on syndesis master only.

[2019-07-22 13:26] lgarciaaco commented on #161
I find discrepancies in the content of the roles, in the following files:

`fuse-online-install/install_ocp.sh`
`fuse-online-install/templates/fuse-online-operator.yml`
`syndesis/install/generator/05-syndesis-security.yml.mustache`
`syndesis/install/operator/deploy/syndesis-operator.yml`

We have to keep those 5 files always aligned, ideally with rules in the same order so we can spot different in

[2019-07-22 13:34] nicolaferraro commented on #161
Only problem is the eval cluster. If we don't rebuild, we should remove the "deployments/rollback" entry manually from the template we provide to users. Btw, is that template created manually?

[2019-07-22 13:35] nicolaferraro commented on #161
Oh, if the eval cluster is not OCP4 that's not an issue...

[2019-07-22 13:42] #155 closed

[2019-07-22 13:48] heiko-braun commented on #161
Eval is still on 3.11

[2019-07-23 07:09] avano commented on #161
works ok now when cherry-picking the commit to 1.7.17 tag

[2019-07-23 07:09] #161 closed

[2019-07-31 12:37] mcada opened #164 "[camel-k] Can't install camel-k on fedora, permissions error"
Command `bash install_ocp.sh --setup --camel-k` fails on fedora due to permissions issue.

Workaround:
Add `:z` to docker run command which tries to copy kamel:

[code]

[2019-07-31 12:43] heiko-braun commented on #164
@nicolaferraro Mind taking a look?

[2019-07-31 15:48] mcada opened #165 "[camel-k] fuse-java-openshift is no longer tech-preview"
install_ocp.sh script needs to be changed as following code no longer works:
[code]

`$REPOSITORY` points to fuse7-tech-preview but image fuse-java-openshift is no longer tech preview and the repository should point to `fuse7`

We can not just change the property value as it is used with camel-k image which is still TP.

[2019-08-01 08:48] nicolaferraro commented on #157
Thanks @mmuzikar

[2019-08-01 08:48] #157 closed

[2019-08-01 10:48] #164 closed

[2019-08-01 10:50] avano opened #169 "[Upgrade] Update_ocp --version fails with $tag_komodo: bad substitution"
`1.7.22` tag:

[code]

[2019-08-01 10:50] avano commented on #169
@heiko-braun fyi

[2019-08-01 10:57] heiko-braun commented on #169
Thanks we will fix this with CR4

[2019-08-01 11:18] avano commented on #169
at the moment it seems that the upgrade itself it's not affected, so I'm lowering this to p1

[2019-08-01 11:24] avano opened #170 "[Upgrade] Upgrade never completes as it is missing the komodo image stream"
*******************
EDIT:
`1.7.23` with cherry-picked ac17a6087197425ab572d7698c74cb6f7b49ddd4 , see https://github.com/syndesisio/fuse-online-install/issues/170#issuecomment-518529554
*******************

`1.7.22`:

[code]

As you can see in the exporter:
`<registry>/fuse7/fuse-ignite-postgres_exporter:1.4-3`
- the correct namespace should be `fuse7-tech-preview`
- the correct image name is `fuse

[2019-08-01 11:24] avano opened #171 "[Upgrade] unbound variable"
`1.7.22`:

[code]

Is seems to have no effect to the functionality

[2019-08-01 12:26] avano commented on #170
@heiko-braun fyi

[2019-08-01 12:32] heiko-braun commented on #170
@avano thanks

[2019-08-01 15:45] nicolaferraro opened #172 "[camel-k] kamel install --repository option is not working for plugins"
Tracking https://issues.jboss.org/browse/ENTESB-11064

[2019-08-02 09:15] heiko-braun commented on #172
The downstream issue has been resolved

[2019-08-02 09:15] #172 closed

[2019-08-02 12:26] avano commented on #169
works ok now with 1.7.x branch

[2019-08-02 12:26] #169 closed

[2019-08-02 12:27] #165 closed

[2019-08-02 13:20] lgarciaaco commented on #170
We stopped doing few things the `update_ocp.sh` script relies on:
 - We shouldn't call docker images with `-` as part of the name, ideally they are called with a simple word, like `server`, `meta` and so on. When we start using wordings like `komodo-server` or `postgres-exporter` it all gets nasty. We need a simpler name for these images. I would suggest to call komodo just `komodo`, and postgres

[2019-08-02 13:21] heiko-braun commented on #170
I am afraid this is not possible at this stage, and I don't think we should make assumption about the image name prefixes in the script. Why no simply call them out fully?

[2019-08-02 13:29] lgarciaaco commented on #170
Sure it wont be possible at this stage, but why not give things simple names like the ones I recommended? That shouldn't be an issue for next release or so.

There is a relation between name and few other elements: for name `server`, the image tag is `tag_server` [here](https://github.com/syndesisio/fuse-online-install/blob/master/fuse_online_config.sh#L8) ), and the the name of the ImageStream (`

[2019-08-02 13:31] heiko-braun commented on #170
No objection for simple names

[2019-08-02 13:52] lgarciaaco commented on #170
@avano can you please test ^^

[2019-08-05 10:49] lgarciaaco commented on #170
After thinking and talking about this, we don't include external bits in the upgrade process. Removing komodo and the exporter should fix the problem

[2019-08-06 05:26] avano opened #179 "[Install] Unbound variable"
[code]

doesn't affect the functionality

[2019-08-06 05:27] avano commented on #179
my bad, that was on 1.6 tag

[2019-08-06 05:27] #179 closed

[2019-08-06 06:46] avano commented on #170
@lgarciaaco @heiko-braun removing the datavirt image stream now causes the upgrade pod to wait indefinitely, as it is waiting for komodo-server to be scaled to 1:

[code]

and obviously since there is no image stream for komodo, it waits forever and the upgrade never completes.

also leaving out the datavirt server from the upgrade means that user can't use datavirt when upgrading from 7.3.1 to 7.

[2019-08-06 07:16] heiko-braun commented on #170
@lgarciaaco I guess this means we need to include komodo at least

[2019-08-06 10:04] lgarciaaco commented on #170
https://github.com/syndesisio/fuse-online-install/pull/180 removes some code that was needed for previous upgrade, but not needed anymore. It was creating the IS for komodo. I think the upgrade pod wont be trying for it anymore.

[2019-08-06 10:06] lgarciaaco commented on #170
@avano can you cherry pick and try?

[2019-08-06 13:03] avano commented on #170
fixed on 1.7.x branch

[2019-08-06 13:03] #170 closed

[2019-08-06 13:20] heiko-braun commented on #170
Good work, thanks guys!

[2019-09-25 14:07] mcada opened #186 "Unable to use scripts when there is a space in path"
Download repo to a path with space.
Run a command.

[code]

[2019-09-25 14:16] mcada opened #187 "error message is not easily readable"
When playing with the script I end up with following error:
[code]

We may consider a different approach to error handling but yeah it works as is.

EDIT:
Or maybe it does not work? So I created another user in minishift and tried to add him rights to install syndesis with `bash install_ocp.sh --setup --grant noadmin --cluster` (run from admin user). This ends with mentioned error and user noadmin

[2019-09-25 14:24] heiko-braun commented on #187
@mcada Would you mind to create an ENTES instead?

[2019-09-25 14:31] mcada commented on #187
I deleted and re-created minishift to have clean environment, repeated the same procedure with admin setting rights and noadmin running syndesis and now it works :/ so either I did something wrong for the first time or it was some minishift magic. Anyway this issue is about error message so I will leave it open. Sure I can create Jira issue, just thought that this error message format is minor com

[2019-09-25 16:53] heiko-braun commented on #187
Fair enough, thanks for double checkin. @nicolaferraro does that error message above ring a bell?

[2019-10-02 06:45] asmigala commented on #107
Same thing with syndesis for 7.5

[2019-10-02 08:53] heiko-braun commented on #107
We will ship them with the operator image, but extract the binary during the release of `fuse-online-install`. This way docker doesn't become a prerequisite for end users, but it will still be needed at release time.

[2019-10-02 09:34] asmigala commented on #107
@heiko-braun and the binary will be then commited to this repo? The problem with that is that the operator image only has the linux binary, so it won't be possible to install from windows or mac

[2019-10-03 11:37] nicolaferraro commented on #107
For camel k, the operator image has clients for all platforms under /opt/clients, I guess it's possible to do the same for Syndesis.

But.. is this really the way we want to go? The approach of putting the client binary inside the operator image is one of the main reasons why we are not able to embed the right operator image tag in the binary tool. We had to do hacks in this repo during previous F

[2019-10-07 11:01] RHodzelmans opened #188 "Postgres updated in RH Catalog"
My Fuse Online did not come up after installing it. I noticed the database pod was not starting and when I looked into it the reason was due to a missing image. Went to https://access.redhat.com/containers/ to find out only Postgres 9.6 and 10 are available, while the yaml states 9.5 is required. Updated the config to 9.6 and it worked like a charm.

[2019-10-07 14:46] zregvart commented on #188
cc @lgarciaaco @KurtStam

[2019-10-10 13:59] heiko-braun commented on #107
Yes, that's what we need.

[2019-10-10 14:01] heiko-braun commented on #107
We are taking a shortcut in 7.5. It seemed to be easier to do this way for now, rather than asking the prod processes to change.

@nicolaferraro Can you elaborate on the problem you see with the `the right operator image tag in the binary tool`?

[2019-10-10 14:23] nicolaferraro commented on #107
No problem for me, if images come with binaries inside it's easy to extract them and put them somewhere where the scripts can download them.

The problem I was mentioning is a productization issue somebody mentioned in the past.

Basically if I want `kamel install` to install the productized version of Camel K, then the `kamel` binary needs to know the exact image tag to install e.g. redhat-fuse/c

[2019-10-10 14:36] lgarciaaco commented on #107
@heiko-braun `jboss/fuse-operators` repo is not public ... how are ppl supposed to download the binaries from there

[2019-10-29 11:43] #188 closed

[2019-10-29 11:48] lgarciaaco opened #195 "Remove references to old ways of installing syndesis"
The `release.sh` script still uses 'old ways' to install syndesis, for instance:

https://github.com/syndesisio/fuse-online-install/blob/6a92c851a9c6b743b90df51a76f2e39fcf7d3d17/install_ocp.sh#L351-L353

`create_syndesis` should be replaced by `$SYNDESIS_CLI install app`

We don't need `--route`, the operator can figure this out.

[2019-11-06 19:34] phantomjinx opened #211 "Remove the -p / --project switch as causes failures in install_ocp.sh script"
`install_ocp.sh` has to be executed 3 times:
(a) As system:admin to create the CRD -> `install_ocp.sh --setup`
(b) As system:admin to grant a user the correct privileges -> `install_ocp.sh --grant $user`
(c) As $user to install fuse-online -> `install_ocp.sh`

- When executing (b), a project must be present as this installs the _syndesis-installer_ role in that project.
- When executing (c), a sec

[2019-11-06 19:43] phantomjinx commented on #211
Re-logged as JIRA [here](https://issues.jboss.org/browse/ENTESB-12209)

[2019-11-06 19:43] #211 closed

[2020-01-27 15:53] avano commented on #186
migrated to https://issues.redhat.com/browse/ENTESB-12854

[2020-01-27 15:53] #186 closed

[2020-10-09 15:20] mkralik3 opened #254 "Fuse Online is not able to be installed from other folders"
When I want to run an installation from elsewhere folder as fuse-online-install, the installation failed on:
[code]

[2020-10-14 12:15] #254 closed

[2020-11-18 19:39] #195 closed

[2020-11-18 19:42] claudio4j commented on #90
Closing as this issue is not valid anymore.

[2020-11-18 19:42] #90 closed

[2020-11-18 19:43] claudio4j commented on #89
Not valid anymore.

[2020-11-18 19:43] #89 closed

[2020-11-18 19:45] claudio4j commented on #64
Not valid anymore.

[2020-11-18 19:45] #64 closed

[2020-11-18 19:53] claudio4j commented on #171
This script was refactored in #185 and probably this issue is not valid anymore.

[2020-11-18 19:53] #171 closed

[2021-04-30 18:21] #83 closed

[2022-03-04 13:28] phantomjinx commented on #187
Issue has been marked as stale and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:28] #187 closed

[2022-03-04 13:29] phantomjinx commented on #159
Issue has been marked as stale and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:29] #159 closed

[2022-03-04 13:33] phantomjinx commented on #131
Issue has been marked as out-of-date and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:33] #131 closed

[2022-03-04 13:34] phantomjinx commented on #107
Issue has been marked as stale and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:34] #107 closed

[2022-03-04 13:35] phantomjinx commented on #63
Issue has been marked as stale and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:35] #63 closed

[2022-03-04 13:35] phantomjinx commented on #54
Issue has been marked as stale and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:35] #54 closed

[2022-03-04 13:36] phantomjinx commented on #31
Issue has been marked as stale and closed.
If it is really required then please reopen and request with justification accordingly.

[2022-03-04 13:36] #31 closed